/* font-face */
@font-face {
  font-family: "GeneralEnclosedFoundicons";
  src: url("../../../fonts/foundicons/general_enclosed/general_enclosed_foundicons.eot");
  src: url("../../../fonts/foundicons/general_enclosed/general_enclosed_foundicons.eot?#iefix") format("embedded-opentype"), url("../../../fonts/foundicons/general_enclosed/general_enclosed_foundicons.woff") format("woff"), url("../../../fonts/foundicons/general_enclosed/general_enclosed_foundicons.ttf") format("truetype"), url("../../../fonts/foundicons/general_enclosed/general_enclosed_foundicons.svg#GeneralEnclosedFoundicons") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* global foundicon styles */
/* line 7, ../../../../../foundation/scss/foundicons/general_enclosed/general_enclosed_foundicons.scss */
[class*="foundicon-general-enclosed-"] {
  display: inline;
  width: auto;
  height: auto;
  line-height: inherit;
  vertical-align: baseline;
  background-image: none;
  background-position: 0 0;
  background-repeat: repeat;
}

/* line 17, ../../../../../foundation/scss/foundicons/general_enclosed/general_enclosed_foundicons.scss */
[class*="foundicon-general-enclosed-"]:before {
  font-family: "GeneralEnclosedFoundicons";
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
}

/* icons */
/* line 6, ../../../../../foundation/scss/foundicons/general_enclosed/_settings.scss */
.foundicon-general-enclosed-settings:before {
  content: "\f000";
}

/* line 6, ../../../../../foundation/scss/foundicons/general_enclosed/_settings.scss */
.foundicon-general-enclosed-heart:before {
  content: "\f001";
}

/* line 6, ../../../../../foundation/scss/foundicons/general_enclosed/_settings.scss */
.foundicon-general-enclosed-star:before {
  content: "\f002";
}

/* line 6, ../../../../../foundation/scss/foundicons/general_enclosed/_settings.scss */
.foundicon-general-enclosed-plus:before {
  content: "\f003";
}

/* line 6, ../../../../../foundation/scss/foundicons/general_enclosed/_settings.scss */
.foundicon-general-enclosed-minus:before {
  content: "\f004";
}

/* line 6, ../../../../../foundation/scss/foundicons/general_enclosed/_settings.scss */
.foundicon-general-enclosed-checkmark:before {
  content: "\f005";
}

/* line 6, ../../../../../foundation/scss/foundicons/general_enclosed/_settings.scss */
.foundicon-general-enclosed-remove:before {
  content: "\f006";
}

/* line 6, ../../../../../foundation/scss/foundicons/general_enclosed/_settings.scss */
.foundicon-general-enclosed-mail:before {
  content: "\f007";
}

/* line 6, ../../../../../foundation/scss/foundicons/general_enclosed/_settings.scss */
.foundicon-general-enclosed-calendar:before {
  content: "\f008";
}

/* line 6, ../../../../../foundation/scss/foundicons/general_enclosed/_settings.scss */
.foundicon-general-enclosed-page:before {
  content: "\f009";
}

/* line 6, ../../../../../foundation/scss/foundicons/general_enclosed/_settings.scss */
.foundicon-general-enclosed-tools:before {
  content: "\f00a";
}

/* line 6, ../../../../../foundation/scss/foundicons/general_enclosed/_settings.scss */
.foundicon-general-enclosed-globe:before {
  content: "\f00b";
}

/* line 6, ../../../../../foundation/scss/foundicons/general_enclosed/_settings.scss */
.foundicon-general-enclosed-home:before {
  content: "\f00c";
}

/* line 6, ../../../../../foundation/scss/foundicons/general_enclosed/_settings.scss */
.foundicon-general-enclosed-quote:before {
  content: "\f00d";
}

/* line 6, ../../../../../foundation/scss/foundicons/general_enclosed/_settings.scss */
.foundicon-general-enclosed-people:before {
  content: "\f00e";
}

/* line 6, ../../../../../foundation/scss/foundicons/general_enclosed/_settings.scss */
.foundicon-general-enclosed-monitor:before {
  content: "\f00f";
}

/* line 6, ../../../../../foundation/scss/foundicons/general_enclosed/_settings.scss */
.foundicon-general-enclosed-laptop:before {
  content: "\f010";
}

/* line 6, ../../../../../foundation/scss/foundicons/general_enclosed/_settings.scss */
.foundicon-general-enclosed-phone:before {
  content: "\f011";
}

/* line 6, ../../../../../foundation/scss/foundicons/general_enclosed/_settings.scss */
.foundicon-general-enclosed-cloud:before {
  content: "\f012";
}

/* line 6, ../../../../../foundation/scss/foundicons/general_enclosed/_settings.scss */
.foundicon-general-enclosed-error:before {
  content: "\f013";
}

/* line 6, ../../../../../foundation/scss/foundicons/general_enclosed/_settings.scss */
.foundicon-general-enclosed-right-arrow:before {
  content: "\f014";
}

/* line 6, ../../../../../foundation/scss/foundicons/general_enclosed/_settings.scss */
.foundicon-general-enclosed-left-arrow:before {
  content: "\f015";
}

/* line 6, ../../../../../foundation/scss/foundicons/general_enclosed/_settings.scss */
.foundicon-general-enclosed-up-arrow:before {
  content: "\f016";
}

/* line 6, ../../../../../foundation/scss/foundicons/general_enclosed/_settings.scss */
.foundicon-general-enclosed-down-arrow:before {
  content: "\f017";
}

/* line 6, ../../../../../foundation/scss/foundicons/general_enclosed/_settings.scss */
.foundicon-general-enclosed-trash:before {
  content: "\f018";
}

/* line 6, ../../../../../foundation/scss/foundicons/general_enclosed/_settings.scss */
.foundicon-general-enclosed-add-doc:before {
  content: "\f019";
}

/* line 6, ../../../../../foundation/scss/foundicons/general_enclosed/_settings.scss */
.foundicon-general-enclosed-edit:before {
  content: "\f01a";
}

/* line 6, ../../../../../foundation/scss/foundicons/general_enclosed/_settings.scss */
.foundicon-general-enclosed-lock:before {
  content: "\f01b";
}

/* line 6, ../../../../../foundation/scss/foundicons/general_enclosed/_settings.scss */
.foundicon-general-enclosed-unlock:before {
  content: "\f01c";
}

/* line 6, ../../../../../foundation/scss/foundicons/general_enclosed/_settings.scss */
.foundicon-general-enclosed-refresh:before {
  content: "\f01d";
}

/* line 6, ../../../../../foundation/scss/foundicons/general_enclosed/_settings.scss */
.foundicon-general-enclosed-paper-clip:before {
  content: "\f01e";
}

/* line 6, ../../../../../foundation/scss/foundicons/general_enclosed/_settings.scss */
.foundicon-general-enclosed-video:before {
  content: "\f01f";
}

/* line 6, ../../../../../foundation/scss/foundicons/general_enclosed/_settings.scss */
.foundicon-general-enclosed-photo:before {
  content: "\f020";
}

/* line 6, ../../../../../foundation/scss/foundicons/general_enclosed/_settings.scss */
.foundicon-general-enclosed-graph:before {
  content: "\f021";
}

/* line 6, ../../../../../foundation/scss/foundicons/general_enclosed/_settings.scss */
.foundicon-general-enclosed-idea:before {
  content: "\f022";
}

/* line 6, ../../../../../foundation/scss/foundicons/general_enclosed/_settings.scss */
.foundicon-general-enclosed-mic:before {
  content: "\f023";
}

/* line 6, ../../../../../foundation/scss/foundicons/general_enclosed/_settings.scss */
.foundicon-general-enclosed-cart:before {
  content: "\f024";
}

/* line 6, ../../../../../foundation/scss/foundicons/general_enclosed/_settings.scss */
.foundicon-general-enclosed-address-book:before {
  content: "\f025";
}

/* line 6, ../../../../../foundation/scss/foundicons/general_enclosed/_settings.scss */
.foundicon-general-enclosed-compass:before {
  content: "\f026";
}

/* line 6, ../../../../../foundation/scss/foundicons/general_enclosed/_settings.scss */
.foundicon-general-enclosed-flag:before {
  content: "\f027";
}

/* line 6, ../../../../../foundation/scss/foundicons/general_enclosed/_settings.scss */
.foundicon-general-enclosed-location:before {
  content: "\f028";
}

/* line 6, ../../../../../foundation/scss/foundicons/general_enclosed/_settings.scss */
.foundicon-general-enclosed-clock:before {
  content: "\f029";
}

/* line 6, ../../../../../foundation/scss/foundicons/general_enclosed/_settings.scss */
.foundicon-general-enclosed-folder:before {
  content: "\f02a";
}

/* line 6, ../../../../../foundation/scss/foundicons/general_enclosed/_settings.scss */
.foundicon-general-enclosed-inbox:before {
  content: "\f02b";
}

/* line 6, ../../../../../foundation/scss/foundicons/general_enclosed/_settings.scss */
.foundicon-general-enclosed-website:before {
  content: "\f02c";
}

/* line 6, ../../../../../foundation/scss/foundicons/general_enclosed/_settings.scss */
.foundicon-general-enclosed-smiley:before {
  content: "\f02d";
}

/* line 6, ../../../../../foundation/scss/foundicons/general_enclosed/_settings.scss */
.foundicon-general-enclosed-search:before {
  content: "\f02e";
}
