<h1 ng-cloak>
  <span>Change password</span>
</h1>

<form>
  <label>Current password</label>
  <input type="password" name="oldpassword" ng-model="oldPassword" />

  <label>New password</label>
  <input type="password" name="newpassword" ng-model="newPassword" />

  <label>Confirm password</label>
  <input type="password" name="confirmpassword" ng-model="confirmPassword" />

  <div id="jskomControlBar">
    <div class="row">
      <div class="three mobile-one columns">
      </div>

      <div class="three mobile-one columns"></div>
      <div class="three mobile-one columns"></div>

      <div class="three mobile-one columns">
        <button type="submit" class="button right"
                ng-disabled="isChanging"
                ng-click="changePassword()">
          <i class="icon-pencil"></i>
          Save
        </button>
      </div>
    </div>
  </div>
</form>
