<br />
<div class="well well-small">
  <div ng-controller="HelpCtrl">
    <button class="btn btn-mini pull-right dropup"
            ng-show="isVisible" ng-click="isVisible = false">
      <span class="caret"></span>
    </button>
    <button class="btn btn-mini pull-right"
            ng-hide="isVisible" ng-click="isVisible = true">
      <span class="caret"></span>
    </button>
    <h5>Keyboard shortcuts</h5>
    
    <div ng-show="isVisible">
      <div>
        <h6>General</h6>
        <table class="table table-condensed">
          <tr ng-repeat="keyBinding in globalKeys">
            <td>
              <span ng-repeat="key in keyBinding.keys">
                <span ng-hide="$index == 0"> or </span>
                <span class="label label-inverse">{{ key }}</span>
              </span>
            </td>
            <td>{{ keyBinding.description }}</td>
          </tr>
        </table>
      </div>
      
      <div ng-show="localKeys">
        <h6>Page specific</h6>
        <table class="table table-condensed">
          <tr ng-repeat="keyBinding in localKeys">
            <td>
              <span ng-repeat="key in keyBinding.keys">
                <span ng-hide="$index == 0"> or </span>
                <span class="label label-inverse">{{ key }}</span>
              </span>
            </td>
            <td>{{ keyBinding.description }}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>

