<h3>Create person</h3>

<form ng-controller="NewPersonCtrl">
  <label>LysKOM server</label>
  <select class="span6" ng-model="connection.serverId" ng-show="servers"
          ng-disabled="connection.connectionId"
          ng-options="sid as s|serverName for (sid, s) in servers"></select>
  
  <label>Person name (use your full name, like &quot;Sven Svensson&quot;)</label>
  <input type="text" class="span6" required ng-model="person.name" />
  
  <label>Password</label>
  <input type="password" class="span6" required ng-model="person.passwd" />
  
  <label>Confirm password</label>
  <input type="password" class="span6" required ng-model="confirmpasswd" />
  
  <label>Control question: {{question}}</label>
  <input type="text" class="span6" required ng-model="answer" />
  
  <div class="jskomControlBar navbar">
    <div class="navbar-inner">
      <div class="pull-right">
        <button type="submit" class="btn btn-primary"
                ng-disabled="isCreating || !person.name || !person.passwd || !answer"
                ng-click="createPerson()">
          Create
        </button>
      </div>
    </div>
  </div>
</form>
