<h3 ng-hide="commentedText">New text</h3>
<h3 ng-show="commentedText">New comment to {{commentedText.text_no}}</h3>

<span ng-hide="newText">Loading...</span>
<form ng-show="newText">

  <div ng-show="commentedText" ng-init="isCommentedTextVisible = false">
    <div>
      <button class="btn btn-small dropup"
              ng-show="isCommentedTextVisible" ng-click="isCommentedTextVisible = false">
        Hide commented text<span class="caret"></span>
      </button>
      <button class="btn btn-small"
              ng-hide="isCommentedTextVisible" ng-click="isCommentedTextVisible = true">
        Show commmented text<span class="caret"></span>
      </button>
    </div>
    
    <blockquote ng-show="isCommentedTextVisible" class="jskomTextBody">
      <p jskom-bind-body="commentedText.body"></p>
      <small>{{ commentedText.author|personName }}</small>
    </blockquote>
    
    <hr/>
  </div>
  
  <jskom:text-fields text="newText"></jskom:text-fields>
  
  <div id="jskomControlBar" class="navbar">
    <div class="navbar-inner">
      <button type="button" class="btn" ng-show="returnUrl" ng-click="goToReturnUrl()">
        Cancel
      </button>
      
      <div class="pull-right">
        <button type="submit" class="btn btn-primary"
                ng-disabled="isCreating"
                ng-click="createText()">
          Post
        </button>
      </div>
    </div>
  </div>
</form>
