<h1 ng-hide="commentedText">New text</h1>
<h1 ng-show="commentedText">New comment to {{commentedText.text_no}}</h1>

<span ng-hide="text">Loading...</span>
<form ng-show="text">

  <div ng-show="commentedText" ng-init="isCommentedTextVisible = false">
    <p>
      <button class="btn btn-small dropup"
              ng-show="isCommentedTextVisible" ng-click="isCommentedTextVisible = false">
        Hide commented text<span class="caret"></span>
      </button>
      <button class="btn btn-small"
              ng-hide="isCommentedTextVisible" ng-click="isCommentedTextVisible = true">
        Show commmented text<span class="caret"></span>
      </button>
    </p>
    
    <blockquote ng-show="isCommentedTextVisible" class="jskomTextBody">
      <p jskom-bind-body="commentedText.body"></p>
      <small>{{ commentedText.author|personName }}</small>
    </blockquote>
  </div>
  
  <ng-include src="'textform.html'|jskomTemplate"></ng-include>
  
  <div id="jskomControlBar" class="navbar">
    <div class="navbar-inner">
      <button type="button" class="btn" ng-show="returnUrl" ng-click="goToReturnUrl()">
        Cancel
      </button>
      
      <div class="pull-right">
        <button type="submit" class="btn btn-primary"
                ng-disabled="isCreating"
                ng-click="createText()">
          Post
        </button>
      </div>
    </div>
  </div>
</form>
