<div class="row">
  <div class="span8">
    
    <h2>{{ unreadCount }} unread texts in this conference</h2>
    <br />
    <div class="message"></div>
    <div id="reader-container"></div>
    
    <div class="reader-controls">
      <button class="action-back-to-confs btn">
        Back to conference list
      </button>
      
      <div class="pull-right">
        {{#if hasUnreadTexts}}
        <button class="action-next-unread btn btn-primary" disabled="disabled">
          Next unread text
        </button>
        {{/if}}
      </div>
      
    </div>
  </div>
</div>
