<span ng-hide="reader">Loading...</span>
<div ng-show="reader">
  <h3 class="jskomNoWrap">
    <em>{{ reader.unreadSize() }}</em> unread in <em>{{ conf.conf_name }}</em>
  </h3>
  
  <span ng-show="textIsLoading">Loading...</span>
  <jskom:text></jskom:text>
  <div id="jskomBelowText"></div>
</div>
  
<div id="jskomControlBar" class="navbar">
  <div class="navbar-inner">
    <button class="btn"
            ng-disabled="readerIsLoading"
            ng-click="refresh()">
      <i class="icon-refresh"></i>
    </button>
    
    <div class="pull-right">
      <button class="btn btn-primary"
              ng-click="readNext()" ng-disabled="!reader || textIsLoading">
        <span ng-show="reader.hasPending()">Show next pending</span>
        <span ng-hide="reader.hasPending()">
          <span ng-show="reader.isEmpty()">To conference list</span>
          <span ng-show="reader.hasUnread()">Show next unread</span>
        </span>
      </button>
    </div>
  </div>
</div>
