<h2>Set number of unread texts</h2>

<form>
  <label>Conference</label>
  <jskom:conf-input conn="connection" model="confNo" jskom-autofocus>
  </jskom:conf-input>
  
  <label>Number of unread texts</label> 
  <input type="number" name="unread" ng-model="noOfUnread" />
  
  <div id="jskomControlBar">
    <div class="row">
      <div class="nine mobile-three columns"></div>
      
      <div class="three mobile-one columns">
        <button type="submit" class="button right"
                ng-disabled="isLoading || !confNo"
                ng-click="setNumberOfUnreadTexts()">
          <i class="icon-ok"></i>
          Set unread
        </button>
      </div>
    </div>
  </div>
</form>
