    <div class="row">
      <div class="three mobile-one columns">
        <button type="button" class="secondary button" ng-click="writeComment()">
          <i class="icon-pencil"></i>
          <span>
            <!-- Must nest hide-for-small in span because of "display: inherit" -->
            <span class="hide-for-small">Comment</span>
          </span>
        </button>
      </div>
      
      <div class="three mobile-one columns">
        <jskom:dropdown-toggle class="secondary dropdown button up">
          <i class="icon-bolt"></i>
          <span>
            <span class="hide-for-small">Actions</span>
          </span>
          <ul class="dropdown-menu">
            <li>
              <a ng-click="showCommented()" ng-hide="showCommented == null">Show commented</a>
            </li>
            <li>
              <a ng-click="showAllComments()" ng-hide="showAllComments == null">
                Show all comments
              </a>
            </li>
            
            <!-- TODO: idea: disable instead of hiding -->
            <li ng-hide="text._is_unread == false">
              <a ng-click="markAsRead()" ng-disabled="readmarkIsLoading">Mark as read</a>
            </li>
            <li ng-hide="text._is_unread == true">
              <a ng-click="markAsUnread()" ng-disabled="readmarkIsLoading">Mark as unread</a>
            </li>
          </ul>
        </jskom:dropdown-toggle>
      </div>
      
      <div class="three mobile-one columns">
      </div>
      
      <div class="three mobile-one columns">
        <button type="submit" class="button right"
                ng-show="reader"
                ng-click="readNext()" ng-disabled="!reader || textIsLoading">
          <i class="icon-arrow-right"></i>
          <span>
            <!-- Must nest hide-for-small in span because of "display: inherit" -->
            <span class="hide-for-small">
              <span ng-show="reader.isEmpty()">Conferences</span>
              <span ng-hide="reader.isEmpty()">
                <span ng-show="reader.hasPending()">
                  Show pending ({{ reader.pendingSize() }})
                </span>
                <span ng-hide="reader.hasPending()">Read next</span>
              </span>
            </span>
          </span>
        </button>
      </div>
      
    </div>
