<div class="jskomTextForm">
  <label>Recipients</label>
  
  <div ng-repeat="recipient in text.recipient_list">
    <fieldset class="row form-inline">
      <div class="span8">
        <button class="btn btn-small btn-danger"
                ng-click="text.recipient_list.splice($index, 1)">
          <i class="icon-minus-sign icon-white"></i>
        </button>
        <select class="span1 jskomRecipientType" ng-model="recipient.type"
                ng-options="rt.type as rt.name for rt in recipientTypes"></select>
        
        <jskom:conf-input class="span6" model="recipient.conf_no"></jskom:conf-input>
      </div>
    </fieldset>
    <p />
  </div>
  
  <p/>
  
  <button class="btn btn-small btn-success"
          ng-click="text.recipient_list.push(newRecipient())">
    <i class="icon-plus-sign icon-white"></i> Recipient
  </button>
  <p/>
</div>

<label>Subject</label>
<input class="span8" type="text" name="subject" ng-model="text.subject" />

<label>Body</label>
<textarea class="span8" name="body" ng-model="text.body"></textarea>
