<div ng-controller="TextCtrl" ng-show="text">
  <strong class="jskomNoWrap">
    <jskom:a text-no="{{ text.text_no }}">{{ text.text_no }}</jskom:a>
    / {{ text.creation_time }} / {{ text.author|personName }}
  </strong>
  
  <div>
    <div class="jskomNoWrap" ng-repeat="ct in text.comment_to_list">
      <span class="jskomCapitalize">{{ ct.type }}</span> to
      <jskom:a text-no="{{ ct.text_no }}">{{ ct.text_no }}</jskom:a>
      by {{ ct.author|personName }}
    </div>
    
    <div ng-repeat="r in text.recipient_list">
      <span class="jskomCapitalize">{{ r.type }}:</span>
      <a href="/conferences/{{r.conf_no}}">{{ r.conf_name }}</a>
    </div>
    
    <div>Subject: {{ text.subject }}</div>
    
    <div class="btn-group pull-right" data-toggle="buttons-radio" ng-show="text._type == 'text'">
      <button ng-click="textMode = 'default'" class="btn active">
        <i class="icon-align-left"></i>
      </button>
      <button ng-click="textMode = 'raw'" class="btn">
        <i class="icon-align-justify"></i>
      </button>
    </div>
    
    <div >
      <hr />
      <ng-switch on="text._type">
        <div ng-switch-default>
          [unknown content-type: &quot;{{ text.content_type }}&quot;]
        </div>
        <div ng-switch-when="image"><img ng-src="{{ text._image_url }}" /></div>
        <div ng-switch-when="text">
          <ng-switch on="textMode">
            <div ng-switch-when="default" jskom-bind-body="text.body"></div>
            <pre ng-switch-when="raw" jskom-bind-body="text.body"></pre>
            <!--<div ng-switch-when="html" ng-bind-html="text.body"></div>-->
          </ng-switch>
        </div>
      </ng-switch>
      
      <hr />
      
      <div class="jskomNoWrap" ng-repeat="ci in text.comment_in_list">
        <span class="jskomCapitalize">{{ ci.type }}</span> in
        <jskom:a text-no="{{ ci.text_no }}">{{ ci.text_no }}</jskom:a>
        by {{ ci.author|personName }}
      </div>
    </div>

  </div>

  <div>
    <div class="form-actions">
      <button class="btn" ng-click="writeComment()">
        Comment
      </button>
      
      <div class="pull-right">
        <div class="btn-group">
          <button class="btn dropdown-toggle" data-toggle="dropdown">
            Actions
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li>
              <a href="#" ng-click="showCommented()"
                 ng-hide="showCommented == null">Show commented</a>
            </li>
            <li>
              <a href="#" ng-click="showAllComments()"
                 ng-hide="showAllComments == null">Show all comments</a>
            </li>
            <li ng-hide="text._is_unread == false">
              <a href="#" ng-click="markAsRead()"
                 ng-disabled="readmarkIsLoading">Mark as read</a>
            </li>
            <li ng-hide="text._is_unread == true">
              <a href="#" ng-click="markAsUnread()"
                 ng-disabled="readmarkIsLoading">Mark as unread</a>
            </li>
          </ul>
        </div>
      </div>
      
      <div class="pull-right">
        <span class="label label-info" ng-show="text._is_unread == true">Unread</span>
        <span class="label label-success" ng-show="text._is_unread == false">Read</span>
        &nbsp;
      </div>
    </div>
    
  </div>
</div>
