<h3>Unread conferences</h3>

<span ng-show="isLoading">Loading...</span>
<span ng-hide="isLoading || unreadMemberships">Nothing unread</span>
<ul ng-show="unreadMemberships">
  <li ng-repeat="membership in unreadMemberships">
    <span>
      <a href="/conferences/{{ membership.conference.conf_no }}/unread/">
        {{ membership.conference.conf_name }}
      </a>
    </span>
    (<span class="no_of_unread">{{ membership.no_of_unread }}</span>)
  </li>
</ul>

<p/>

<div id="jskomControlBar" class="navbar">
  <div class="navbar-inner">
    <button class="btn"
            ng-disabled="isLoading"
            ng-click="load()">
      <i class="icon-refresh"></i>
    </button>
    <span>
      <button class="btn active"
              ng-show="autoRefreshing"
              ng-click="disableAutoRefresh()">
        Auto-refresh: on
      </button>
      <button class="btn"
              ng-hide="autoRefreshing"
              ng-click="enableAutoRefresh()">
        Auto-refresh: off
      </button>
    </span>
    
    <div class="pull-right">
      <button class="btn btn-primary"
              ng-disabled="!(unreadMemberships && unreadMemberships.length > 0)"
              ng-click="gotoFirstConference()">
        Go to first
      </button>
    </div>
  </div>
</div>
