<div class="row">
  <div class="span6">
    <h3>Unread conferences</h3>
    
    <span ng-show="isLoading">Loading...</span>
    <span ng-hide="isLoading || unreadConfs">Nothing unread</span>
    <ul ng-show="unreadConfs">
      <li ng-repeat="conf in unreadConfs">
        <span>
          <a href="/conferences/{{ conf.conf_no }}/unread/">{{ conf.name }}</a>
        </span>
        (<span class="no_of_unread">{{ conf.no_of_unread }}</span>)
      </li>
    </ul>
    
    <p/>
    
    <div class="form-actions">
      <button class="btn" ng-disabled="isLoading" ng-click="load()">Refresh</button>
      
      <div class="pull-right">
        <button class="btn btn-primary"
                ng-disabled="!(unreadConfs && unreadConfs.length > 0)"
                ng-click="gotoFirstConference()">
          Go to first conference
        </button>
      </div>
    </div>
  </div>
</div>
