<h2>Unread conferences</h2>

<p ng-show="isLoading">Loading...</p>
<div ng-hide="isLoading">
  <p ng-hide="unreadMemberships">Nothing unread</p>
  
  <table class="twelve" ng-show="unreadMemberships">
    <thead>
      <tr>
        <th>Conference</th>
        <th class="jskomAlignRight">Number of unread</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="membership in unreadMemberships">
        <td>
          <a href="/conferences/{{ membership.conference.conf_no }}/unread">
            {{ membership.conference.conf_name }}
          </a>
        </td>
        <td class="jskomAlignRight">
          <span class="no_of_unread">{{ membership.no_of_unread }}</span>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div id="jskomControlBar">
  <div class="row">
    <div class="three mobile-one columns">
      <button type="button" class="secondary button"
              ng-disabled="isLoading"
              ng-click="refresh()">
        <i class="foundicon-general-refresh"></i>
      </button>
    </div>
    
    <!--span>
      <button class="btn active"
              ng-show="autoRefreshing"
              ng-click="disableAutoRefresh()">
        Auto-refresh: on
      </button>
      <button class="btn"
              ng-hide="autoRefreshing"
              ng-click="enableAutoRefresh()">
        Auto-refresh: off
      </button>
    </span-->
    
    <div class="three mobile-one columns"></div>
    <div class="three mobile-one columns"></div>
    
    <div class="three mobile-one columns">
      <button type="submit" class="button right"
              ng-disabled="!(unreadMemberships && unreadMemberships.length > 0)"
              ng-click="readFirstConference()">
        Read first
      </button>
    </div>
  </div>
</div>
