import time

DEBUG = False
SEND_FILE_MAX_AGE_DEFAULT = 3600
ASSETS_DEBUG = False
HTTPKOM_SERVER = '/httpkom'

# Instead of updating a new version number manually, we create one on
# start-up based on unix time.
STATIC_VERSION = int(time.time())

import logging
