#header {
    border: 1px solid black;
}

#container {
    border: 1px solid black;
}

#footer {
    border: 1px solid black;
}

#menu {
    border: 1px solid red;
}

#main {
    border: 1px solid blue;
}

