#header {
    border: 1px solid black;
    text-align: center;
}

#container {
    border: 1px solid black;
}

#footer {
    border: 1px solid black;
    text-align: center;
}

#menu {
    border: 1px solid green;
}

#main {
    border: 1px solid blue;
}

.message {
    border: 1px solid red;
    display: none;
}

