<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    
    <script src="{{ url_for('static', filename='json2.js') }}"></script>
    <script src="{{ url_for('static', filename='underscore.js') }}"></script>
    <script src="{{ url_for('static', filename='backbone.js') }}"></script>
    
    <script src="{{ url_for('static', filename='jskom.js') }}"></script>
    
    <title>httpkom</title>
  </head>
  <body>
  </body>
</html>
