<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
    
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='jquery.cookie.js') }}"></script>
    
    <script src="{{ url_for('static', filename='json2.js') }}"></script>
    <script src="{{ url_for('static', filename='underscore.js') }}"></script>
    <script src="{{ url_for('static', filename='backbone.js') }}"></script>
    
    <script src="{{ url_for('static', filename='jskom.js') }}"></script>
    
    <title>jskom</title>
  </head>
  <body>
    <div id="jskom"></div>
  </body>
</html>
