<!doctype html>
<html>
  <head>
    <title>Hello from Flask</title>
  </head>
  <body>
    <h1>httpkom status</h1>
    <h2>Sessions</h2>
    <table>
      <thead>
        <tr>
          <th>Session ID</th>
          <th>KOM Server</th>
          <th>Person No</th>
        </tr>
      </thead>
      <tbody>
        {% for s_id in kom_sessions %}
        <tr>
          <td>{{ s_id }}</td>
          <td>{{ kom_sessions[s_id].host }}:{{ kom_sessions[s_id].port }}</td>
          <td>{{ kom_sessions[s_id].current_user() }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>