<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}" rel="stylesheet" />
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap-responsive.css') }}" rel="stylesheet" />

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="{{ url_for('static', filename='html5.js') }}"></script>
    <![endif]-->
    
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
    
    <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery.cookie.js') }}"></script>
    
    <script src="{{ url_for('static', filename='form2js.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery.toObject.js') }}"></script>
    
    <script src="{{ url_for('static', filename='json2.js') }}"></script>
    <script src="{{ url_for('static', filename='mimeparse.js') }}"></script>

    <script src="{{ url_for('static', filename='underscore.js') }}"></script>
    <script src="{{ url_for('static', filename='backbone.js') }}"></script>
    
    <script src="{{ url_for('static', filename='handlebars.js') }}"></script>
    
    <script src="{{ url_for('static', filename='jskom.js') }}"></script>
    <script type="text/javascript">
      jskom.httpkom = "{{ httpkom_server }}";
    </script>
    <script src="{{ url_for('static', filename='jskom.models.js') }}"></script>
    <script src="{{ url_for('static', filename='jskom.views.js') }}"></script>
    <script src="{{ url_for('static', filename='jskom.router.js') }}"></script>
    
    <title>jskom</title>
  </head>
  <body>
    <div id="jskom"></div>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.js') }}"></script>
  </body>
</html>
