<!DOCTYPE html>
<html lang="en" ng-app="jskom">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" />
    
    <style>
      body {
        /* to make the container go all the way to the bottom of the fixed topbar */
        padding-top: 40px;
      }
    </style>
    
    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap-responsive.min.css') }}" rel="stylesheet" />
    
    {% assets "css_jskom" %}
    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
    {%- endassets %}
    
    {% assets "js_libs" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {%- endassets %}
    
    {% assets "js_angular" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {%- endassets %}
    
    {% assets "js_bootstrap" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {%- endassets %}
    
    {% assets "js_jskom" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {%- endassets %}

    <title>jskom</title>
  </head>
  <body ng-controller="SessionCtrl">
    <div id="jskomTopBar" class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/">jskom</a>
          
          {% set navigation_texts = [
          ('/texts/new', 'New text'),
          ] %}

          {% set navigation_confs = [
          ('/conferences/go-to', 'Go to conference'),
          ('/conferences/set-unread', 'Set unread'),
          ] %}
          
          <ul class="nav" ng-show="state == 'loggedIn'" ng-cloak>
            <li>
              <a class="home" href="/">Home</a>
            </li>
            
            <li class="dropdown hidden-phone">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                Texts
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                {% for item in navigation_texts %}
                <li><a href="{{ item[0] }}">{{ item[1] }}</a></li>
                {% endfor %}
              </ul>
            </li>
            
            <li class="dropdown hidden-phone">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                Conferences
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                {% for item in navigation_confs %}
                <li><a href="{{ item[0] }}">{{ item[1] }}</a></li>
                {% endfor %}
              </ul>
            </li>
            
            <li class="dropdown visible-phone">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                Menu
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li class="nav-header">Texts</li>
                {% for item in navigation_texts %}
                <li><a href="{{ item[0] }}">{{ item[1] }}</a></li>
                {% endfor %}
                
                <li class="divider"></li>
                
                <li class="nav-header">Conferences</li>
                {% for item in navigation_confs %}
                <li><a href="{{ item[0] }}">{{ item[1] }}</a></li>
                {% endfor %}
              </ul>
            </li>
            
          </ul>
          
          <ul class="nav pull-right" ng-show="state == 'loggedIn'" ng-cloak>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                {% raw %}
                <i class="icon-user icon-white"></i>
                <span class="hidden-phone">{{ session.person.pers_name }}</span>
                {% endraw %}
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><a ng-click="logout()" href="#">Logout</a></li>
              </ul>
            </li>
          </ul>
          
        </div>
      </div>
    </div>
    
    <div class="container">
      
      <div class="row">
        <ng-switch on="state">
          
          <div ng-switch-default>
            <div class="span4">
              loading...
            </div>
          </div>
          
          <div ng-switch-when="loggedIn" ng-cloak>
            <div class="span8">
              <ng-include src="'messages.html'|jskomTemplate"></ng-include>
              <ng-view ng-cloak></ng-view>
            </div>
            
            <div class="span4 hidden-phone">
              <ng-include src="'help.html'|jskomTemplate"></ng-include>
            </div>
          </div>
          
          <div ng-switch-when="notLoggedIn" ng-controller="LoginTabsCtrl" ng-cloak>
            <div class="span6">
              <ng-include src="'messages.html'|jskomTemplate"></ng-include>
              
              <p/>
              
              <ul class="nav nav-tabs">
                <li ng-class="isTabActive('login')">
                  <a data-target="#" ng-click="selectTab('login')">Log in</a>
                </li>
                <li ng-class="isTabActive('create')">
                  <a data-target="#" ng-click="selectTab('create')">Create person</a>
                </li>
              </ul>
              
              <div class="tab-content">
                <div class="tab-pane" ng-class="isTabActive('login')">
                  <ng-include src="'login.html'|jskomTemplate"></ng-include>
                </div>
                <div class="tab-pane" ng-class="isTabActive('create')">
                  <ng-include src="'newperson.html'|jskomTemplate"></ng-include>
                </div>
              </div>
            </div>
          </div>
          
        </ng-switch>
      </div>
      
      <hr />
      <footer>
        {% raw %}
        <p ng-show="state == 'loggedIn'" ng-cloak>
          Logged in as: <em>{{ session.person.pers_name }}</em>
        </p>
        {% endraw %}
        <p style="display: inline-block;">
          <a href="https://github.com/osks/jskom">jskom</a>
          &copy; <a href="mailto:oskar@osd.se">Oskar Skoog</a> 2012
          <span ng-cloak>
            {# This is in the jinja2 template, not Angular. #}
            &#8212; version {{ version }}
          </span>
        </p>
      </footer>
    </div>
    
    <script type="text/javascript">
      angular.module('jskom.settings', ['jskom.templates']).
        constant('httpkomServer', '{{ httpkom_server }}').
        constant('jskomName', 'jskom').
        constant('jskomVersion', '{{ version }}').
        config([
          'templatePathProvider',
          function(templatePathProvider) {
            templatePathProvider.setUrlPrefix('{{ url_for('static', filename='partials/') }}');
            templatePathProvider.setVersion('{{ static_version }}');
          }
        ]);
    </script>
  </body>
</html>
