.jskomConfInput {
    margin-bottom: 9px;
}

.jskomConfInput .input-append {
    width: 100%;
}

.jskomConfInput button {
    vertical-align: top;
}

.jskomConfInput[class*="span"] {
    float: none;
    margin-left: 0;
}

.form-inline .jskomConfInput {
    display: inline-block;
}

.jskomConfInput[class*="span"] input, .jskomConfInput[class*="span"] select {
    width: 75%;
}

.jskomNoWrap {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}

.jskomCapitalize {
    text-transform: capitalize;
}

.jskomAlignRight {
    text-align: right !important;
}

textarea {
    min-height: 100px;
}

#jskomControlBar, jskomControlBar {
    margin-top: 18px;
}

#jskomMessages > :first-child {
    margin-top: 18px;
}

#jskomTopBar.navbar-fixed-top .navbar-inner {
    padding-top: 0;
    padding-bottom: 0;
}

@media (max-width: 979px) {
    #jskomTopBar.navbar-fixed-top {
        /* bootstrap-responsive adds an 18px margin for some strange reason. */
        margin-bottom: 0;
    }
}

@media (max-width: 979px) and (min-height: 400px) {
    /* Some min heights to allow for always filling the page on mobile.*/
    body {
        min-height: 470px;
    }
    body > .container > .row {
        min-height: 280px;
    }
    
    body {
        /* To compensate for #jskomControlBar that we change to fixed now. */
        padding-bottom: 40px;
    }
    
    #jskomControlBar, .jskomControlBar {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        
        margin-top: 0px;
        margin-right: 0px;
        margin-left: 0px;
        margin-bottom: 0;
    }
    
    #jskomControlBar .navbar-inner, .jskomControlBar .navbar-inner {
        border-radius: 0;
        border-left: none;
        border-right: none;
    }
}

@media (max-width: 979px) and (min-width: 768px) {
    .jskomTextForm select.jskomRecipientType {
        width: 60px;
    }
}

@media (max-width: 767px) {
    .navbar-static-top {
        /* At this width bootstrap-responsive sets fixed margin widths to the
           body, so we need to compensate the static navbar for
           that. I consider this a bug in bootstrap actually, they
           should to this there. */
        width: auto;
        margin-left: -20px;
        margin-right: -20px;
    }
    
    .jskomTextForm .jskomConfInput {
        width: 60%;
    }
    
    .jskomTextForm select.jskomRecipientType {
        width: 50px;
        display: inline-block;
    }
}

@media (max-width: 480px) {
    body {
        /* To gain a bit more usable space on small devices, reduce body
           padding. */
        padding-right: 10px;
        padding-left: 10px;
    }
    
    .navbar-fixed-top, #jskomControlBar, .jskomControlBar {
        /* To counter the reduced body padding. (not needed for .navbar-static-top) */
        margin-left: -10px;
        margin-right: -10px;
    }
    
    .jskomTextForm select.jskomRecipientType {
        width: 50px;
        display: inline-block;
    }
    
    
    .jskomTextForm .jskomConfInput[class*="span"] {
        width: 180px;
    }
    .jskomConfInput button {
        width: 40px;
    }
    .jskomTextForm .jskomConfInput[class*="span"] input, .jskomTextForm .jskomConfInput[class*="span"] select {
        width: 130px;
    }
}
