.jskomConfInput {
}

.jskomConfInput .input-append {
    width: 100%;
}

.jskomConfInput button {
    vertical-align: top;
}

.jskomConfInput[class*="span"] {
    float: none;
    margin-left: 0;
}

.form-inline .jskomConfInput {
    display: inline-block;
}

.jskomConfInput[class*="span"] input, .jskomConfInput[class*="span"] select {
    width: 75%;
}

.jskomNoWrap {
    white-space: nowrap;
}

.jskomCapitalize {
    text-transform: capitalize;
}

@media (max-width: 979px) and (min-width: 768px) {
    .jskomTextForm select.jskomRecipientType {
        width: 60px;
    }
}

@media (max-width: 767px) {
    .jskomTextForm .jskomConfInput {
        width: 60%;
    }
    
    .jskomTextForm select.jskomRecipientType {
        width: 50px;
        display: inline-block;
    }
}

@media (max-width: 480px) {
    body {
        padding-right: 10px;
        padding-left: 10px;
    }
    
    .navbar-fixed-top .navbar-inner, .navbar-fixed-bottom .navbar-inner {
        padding: 10px;
    }
    

    .jskomTextForm select.jskomRecipientType {
        width: 50px;
        display: inline-block;
    }
    
    
    .jskomTextForm .jskomConfInput[class*="span"] {
        width: 180px;
    }
    .jskomConfInput button {
        width: 40px;
    }
    .jskomTextForm .jskomConfInput[class*="span"] input, .jskomTextForm .jskomConfInput[class*="span"] select {
        width: 130px;
    }
}
